* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.slider {
  display: flex;
  overflow: hidden;
  margin: auto;
  justify-content: space-around;
}

.slider img {
  width: 300px;
  height: 300px;
}

.slide {
  width: 20%;
  margin: auto;
  display: inline-block;
}
